.footer {
    margin-top: 90px;
    color: rgb(131, 131, 131);
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}

.footer-display {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content h2{
    color: white;
}

.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: grey;
    border: none;
}