.explore-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-page h1{
    color: #262626;
    font-weight: 500;
}

.explore-page-text{
    max-width: 60%;
    color: #808080;

}

.explore-page-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-page-list::-webkit-scrollbar{
    display: none;
}

.explore-page-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.4s;
}

.explore-page-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
}

.explore-page hr{
    margin: 10px 0px;
    height: 2px;
    background-color: rgba(51, 255, 24, 0.445);
    border: none;
    
}

.explore-page-list-item .active{
    border: 4px solid rgb(51, 255, 24);
    padding: 2px;
}